                                            body {
                                            background: url(aviso.jpg);
                                            margin: 0px;
                                        }
                                        
                                        title {
                                            color: rgb(197, 8, 8);
                                        }
                                        
                                        h1 {
                                            color: rgb(202, 13, 13);
                                            padding: 50px 50px;
                                            width: 50px 50px;
                                            text-align: center;
                                            font-size: 40px;
                                        }
                                        
                                        p {
                                            font-size: 20px;
                                            width: 450px;
                                            text-align: center;
                                            box-sizing: border-box;
                                            margin: auto;
                                        }
                                        
                                        a {
                                            font-size: 30px;
                                            background: #3d7bc2;
                                            overflow: hidden;